@font-face {
    font-family: 'SairaStencilOne';
    src: url('./fonts/SairaStencilOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.leaderboard-page {
    background-color: #ECFCE5;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.leaderboard-header {
    z-index: 1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.leaderboard-title {
    background-color: #DBD9D9;
    border: solid 5px #A48383;
    border-radius: 60px;
    margin-top: 50px;
    padding: 5px 80px;
    font-size: 80px;
    color: #198155;
    font-family: 'SairaStencilOne', sans-serif;
    -webkit-text-stroke: 1.25px #BE8989;
    text-shadow: #afaeae 0px 5px 3px;
}

.leaderboard-knife {
    padding-top: 30px;
}

.leaderboard-container {
    background-color: #ECFCE5;
    border: solid 5px #D5EBCB;
    border-radius: 60px;
    margin-top: -10vh;
    z-index: 0;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: "Stencil Std", sans-serif;
}

.board-title {
    padding: 10px;
    font-size: 60px;
    color: #198155;
    font-family: 'SairaStencilOne', sans-serif;
    -webkit-text-stroke: 0.1px #BE8989;
    text-shadow: #c1bfbf 0px 5px 3px;
}

.board-row {
    padding: 10px;
    font-size: 40px;
    color: #198155;
    font-family: 'SairaStencilOne', sans-serif;
    -webkit-text-stroke: 0.2px #BE8989;
    text-shadow: #acacac 0px 4px 3px;
}

.board-table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
    flex-grow: 1;
}

.play-again-button {
    background-color: #C29F8C;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    padding: 8px 18px;
    color: #5c473c;
    font-size: 38px;
    font-family: 'SairaStencilOne', sans-serif;

    transition: all 0.15s ease-in-out;
    background: linear-gradient(to bottom right, #C29F8C, #a27d69);
    box-shadow:
      inset 0 1px 0 0 #C29F8C,
      0 2px 0 0 #877063,
      0 4px 0 0 #877063,
      0 6px 0 0 #877063,
      0 8px 0 0 #877063,
      0 8px 16px 0 #877063;
}
  
.play-again-button:hover {
    transform: translateY(4px);
    box-shadow:
        inset 0 1px 0 0 #C29F8C,
        0 1px 0 0 #877063,
        0 2px 0 0 #877063,
        0 3px 0 0 #877063,
        0 4px 0 0 #877063,
        0 4px 8px 0 #877063;
}