@font-face {
    font-family: 'SairaStencilOne';
    src: url('./fonts/SairaStencilOne.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.leaderboard-page {
    background-color: #ECFCE5;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.leaderboard-header {
    z-index: 1;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.leaderboard-title {
    background-color: #DBD9D9;
    border: solid 5px #A48383;
    border-radius: 60px;
    margin-top: 50px;
    padding: 5px 80px;
    font-size: 80px;
    color: #198155;
    font-family: 'SairaStencilOne', sans-serif;
    -webkit-text-stroke: 1.25px #BE8989;
    text-shadow: #afaeae 0px 5px 3px;
}

.leaderboard-knife {
    padding-top: 30px;
}

.leaderboard-container {
    background-color: #ECFCE5;
    border: solid 5px #D5EBCB;
    border-radius: 60px;
    margin-top: -10vh;
    z-index: 0;
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Stencil Std", sans-serif;
}

.board-title {
    padding: 10px;
    font-size: 60px;
    color: #198155;
    font-family: 'SairaStencilOne', sans-serif;
    -webkit-text-stroke: 0.1px #BE8989;
    text-shadow: #c1bfbf 0px 3px 3px;
}

.board-table{
    border-collapse: collapse;
    width: 100%;
    

}

.play-again-button {
    background-color: #D5EBCB;
    border: solid 3px #198155;
    border-radius: 10px;
    margin-top: 20px;
    padding: 5px 15px;
    color: #198155;
    font-family: 'SairaStencilOne', sans-serif;
    -webkit-text-stroke: 0.25px #BE8989;
}