@font-face {
    font-family: 'Inter Regular';
    src: url('./PracticeImportFiles/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #ECFCE5;
    color: black;
    margin: 0;
    height: 100%;
    font-size: 3vmin;
  }

html {
    background-color: #ECFCE5;
    color: black;
    margin: 0;
    height: 100%;
  }

.back {
    background-color: #ECFCE5;
    display: block;
}

h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-family: 'Inter Regular', sans-serif;
}

p {
    color: #198155;
    font-size: em;
    font-family: 'Inter Regular', sans-serif;
}

.login-button {
    background-color: #D5EBCB;
    border: solid 3px #198155;
    border-radius: 10px;
    margin-top: 50px;
    padding: 5px 15px;
    font-family: 'Inter Regular', sans-serif;
    color: #198155;
}

.login-button:hover {
    background-color: #198155;
    color: white;
  }

.home-button {
    display: block;
    border: solid 3px #000000;
    background-color: #727272;
    border-radius: 10px;
    padding: 15px;
    color: white;
    -webkit-text-stroke: 0.25px #BE8989;
    position: fixed;
    font-family: 'Inter Regular', sans-serif;
    right: 5px;
}

.home-button:hover {
    background-color: rgb(75, 74, 74);
  }

.div-test {
    width: 100%;
    display: block;
}

.table-of-contents {
    position: absolute;
    bottom : 5px;
}

.main-box {
    background-color: white;
    display: block;
    padding: 20px;
    border-radius: 25px;
    text-align: center;
    margin:auto;
    width: fit-content;
    
}

.block-c {
    padding-top: 75px;
}

.body-para {
    padding-top: 30px;
    width: 60%;
    margin: auto;
    text-align: center;
}

footer {
    box-shadow: 0 50vh 0 50vh #ECFCE5;
  }

.item1-fruitstyle {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.rowstyle {
    
}